section {
    padding-top: 8vh;
    padding-bottom: 0;
}

h2 {
    padding-top: 8vh;
}

.navHeightSetting {
    height: 8vh !important;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    max-width: 100%;
}

#navButton {
    top: 0;
    right: 0;
}

.navbar-default {
    max-width: 100%;
}

.backgroundimage {
    z-index: -1000;
    opacity: 0.1;
    position: absolute;
}

.animated {
    animation-fill-mode: forwards !important;
    -webkit-animation-fill-mode: forwards !important;
}

#wowstartdiv {
    animation-duration: 3s;
}

#animatedstar {
    height: auto;
    transform: rotate(-90deg);
    max-width: 90%;
}

#animatedstar img {
    width: 100%;
}

#dancegif {
    width: 80%;
}

#motivationalgif {
    width: 70%;
}

#endlessgif {
    width: 60%;
}

.carousel-inner>.carousel-item>img {
    margin: auto;
    height: 100%
}

#bumbotron {
    background-image: url(./assets/bumbo.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}

.bg-bumbotron {
    background: rgba(68, 68, 68, 0.6);
}