section {
    padding-top: 8vh;
}

.navHeightSetting {
    height: 8vh !important;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    max-width: 100%;
}

#navButton {
    top: 0;
    right: 0;
}

.navbar-default {
    max-width: 100%;
}

.backgroundimage {
    z-index: -1000;
    opacity: 0.1;
    position: absolute;
}

#animatedstar {
    height: auto;
    transform: rotate(-90deg);
    max-width: 90%;
}

.carousel-inner>.carousel-item>img {
    margin: auto;
    height: 100%
}

#bumbotron {
    background-image: url(./assets/bumbo.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}

.bg-bumbotron {
    background: rgba(68, 68, 68, 0.6);
}

.bootstrapbg {
    /* background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url("https://getbootstrap.com/docs/4.2/assets/brand/bootstrap-solid.svg") no-repeat center center; */
    /* background-size: 20%; */
    background-color: rgb(255, 169, 39);
    background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9));
}